body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}

body,html {
    margin: 0px;
    padding:0px;
    background-color: #0edfca63;
}

#topbar {
    background-color: #93DA51;
    width: 100%;
    height: 15%;
    position:sticky;
    top: 0px;
    justify-content: space-around;
    display: flex;
}

#welcome {
    text-align: center;
    border:1px solid black;
}

#sub-heading{
    position: relative;
    left: 20px;
}

#hold-stocks{
    border: 2px solid green;
    width: 100%;
    height: 50%;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}
#stocks,#filledstocks {
    border: 1px solid orange;
    width:150px;
    height:150px;
    text-align: center;
}