<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/game.css">
    <title>Document</title>
</head>
<body>
    <div id = game>
    <form>
        <h2 id = "money"></h2>
        <input type="radio" name="option" value="Rock">Rock<br>
        <input type="radio" name="option" value="Paper">Paper<br>
        <input type="radio" name="option" value="Scissors">Scissors<br>
        <button id="submit" type="button">submit</button>
        <button id="clear" type="button">clear</button>
      </form>
        <div class="box">
        <h2>Your Guess:</h2>
        <p id="humanResult"></p>
        </div>
        <div class="box">
        <h2>Computer Guess:</h2>
        <p id="computerResult"></p>
        </div>
        <div class="box">
        <h2>Result:</h2>
        <p id="result"></p>
        </div>
        <div class="box">
        <h2>Your Score</h2>
        <p id="humanScore">0</p>
        </div>
        <div class="box">
        <h2>Computer Score</h2>
        <p id="computerScore">0</p>
        </div>
    </div>
      
    <script src="../public/game.js"></script>
</body>
</html>